.intro {
  max-width: 984px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto 92px;
}

@media all and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin: 0 24px 88px;
    display: block;
  }
}

@media all and (max-width: 425px) {
  .intro {
    margin: 0 16px 64px;
  }
}
