.place {
  width: 100%;
  margin: 0 auto 80px;
  flex-direction: column;
  display: grid;
  grid-template-columns: minmax(min-content, 460px) minmax(min-content, max-content);
  gap: 48px 40px;
}

.place:last-child {
  margin-bottom: 0;
}

@media all and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(min-content, 440px) minmax(min-content, max-content);
    gap: 48px 32px;
  }
}

@media all and (max-width: 900px) {
  .place {
    /* grid-template-columns: minmax(min-content, 340px) minmax(min-content, max-content); */
    grid-template-columns: minmax(340px, min-content) minmax(min-content, max-content);
    gap: 48px 28px;
    margin: 0 auto 73px;
  }
}

@media all and (max-width: 600px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px;
    margin: 0 0 50px;
  }
}
